<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjPxpcDFAMsZ-4bpMeaQ9oEA-jCxwaEtI</string>
	<key>GCM_SENDER_ID</key>
	<string>625821260762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interactive</string>
	<key>PROJECT_ID</key>
	<string>interactive-4b6a3</string>
	<key>STORAGE_BUCKET</key>
	<string>interactive-4b6a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625821260762:ios:2bed69fa12661e0934fee3</string>
</dict>
</plist>